<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iron</title>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',()=>
        {
            load_info('iron');

            document.querySelectorAll(".metal-class").forEach(link =>{
                link.onclick=()=>{
                    load_info(link.dataset.page);
                    return false;
                }
            });
        });

        function load_info(name)
        {
            const request = new XMLHttpRequest();
            request.open('GET',`/${name}`);
            request.onload=()=>
            {
                const response=request.responseText;
                document.querySelector('#req_info').innerHTML = response;

                //push and save Url and title
                document.title=name;
                history.pushState({'Pagetitle':name,'info':response},name,name);

            };
           request.send();

        }

        //onpop(when user click back button)
        window.onpopstate=para =>
        {
            const Data=para.state;
            document.title=Data.Pagetitle;
            document.querySelector("#req_info").innerHTML=Data.info;
           
        };

    </script>
    <script type="text/javascript"></script>
</head>
<body>
<ul id="metals-id">
   <li> <a href="" class="metal-class" data-page="iron">Iron</a></li>
   <li><a href="" class="metal-class" data-page="copper">Copper</a></li>
   <li><a href="" class="metal-class" data-page="gold">Gold</a></li>
</ul>
<hr>
<p id="req_info"></p>

</body>
</html>
