body
{
	background-image: linear-gradient(-270deg,#ff8c8c, #9ea8ff);
}
#enter_city_id
{
	height: 30px;
	width: 400px;
	margin-left: 30%;
	margin-top: 5%;
	font-family: helvetica;
	font-style: normal;
    padding: 15px;
	font-size: 15px;
	border:0px;
	border-radius: 2px;
	box-sizing: border-box;
}
#search_city_id
{
	height:32px;
	width:10%;
	margin-left:0.5%;
	font-family: helvetica;
	font-style: normal;
	font-weight:bold;
	font-size: 15px;
	border-radius:2px;
	border:0px;
	background-color: white;
    

}
#search_city_id:hover
{
  cursor: pointer;
  background-color: #98d4a8;
  color: white;
}
